<style>
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap");
  * {
    font-family: "Noto Sans Mono", monospace;
  }
  .chat-box {
  }
</style>
<div class="chat-box">
  <p>title - <%= title %></p>
  <p>sender - <%= sender %></p>
</div>
