<style>
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap");
  * {
    font-family: "Noto Sans Mono", monospace;
  }
  .chat-box {
    border: 5px solid white;
    background: red;
    padding: 10px 0px;
  }
</style>
<div class="chat-box">
  <p>msg - <%= msg %></p>
  <p>sender - <%= sender %></p>
  <p>time - <%- time %></p>
</div>
