<style>
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap");
  * {
    font-family: "Noto Sans Mono", monospace;
  }
  .chat-box {
    border: 2px solid white;
    border-radius: 9px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 3px 0px;
  }
  small {
    font-size: 10px;
  }
  p {
    margin: 0px;
  }
  .info {
    color: lightgreen;
  }
</style>
<div class="chat-box">
  <p class="info"><small><%= sender %> (<%= time %> )</small></p>
  <p class="actual-msg"><%= msg %></p>
</div>
