<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />

    <title>Student Data</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap");
      * {
        font-family: "Noto Sans Mono", monospace;
      }
      body {
        color: white;
        background: black;
        /* padding: 40px; */
        text-align: center;
        margin-top: 100px;
      }
      .container {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 100%;
        max-width: 800px;
        margin-top: 220px;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
    </style>
  </head>
  <body>
    <!-- Optional JavaScript; choose one of the two! -->
    <%- include('./header.ejs') %>
    <div class="container">
      <h6>
        <div class="left">Name</div>

        <div class="right"><%= student.name %></div>
      </h6>
      <br />
      <br />
      <h6>
        <div class="left">Company</div>

        <div class="right"><%= student.company %></div>
      </h6>
      <br />
      <br />
      <h6>
        <div class="left">Initial Salary</div>

        <div class="right"><%= student.ctc %></div>
      </h6>
      <br />
      <br />
      <button class="btn btn-lg btn-primary" onclick="location.assign('/')">
        Go Back
      </button>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
    -->
  </body>
</html>
