<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <style>
      body {
        padding: 30px;
        color: white;
        background: black;
        text-align: center;
        margin-top: 60px;
      }
    </style>
    <script>
      setTimeout(() => {
        location.assign("/login");
      }, 3000);
    </script>
  </head>
  <body>
    <img src="loader.gif" alt="" style="background: black" % />
    <h2>Sorry, you are not logged in.</h2>
    <h2>You are being redirected to the login page.</h2>
  </body>
</html>
