<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <style>
      body {
        padding: 30px;
        color: white;
        background: black;
        text-align: center;
      }
    </style>
    <script>
      setTimeout(() => {
        location.assign("/");
      }, 2000);
    </script>
  </head>
  <body>
    <h2>Sorry, the Admin Code you entered was incorrect.</h2>
    <h2>You need this code to add a student.</h2>
    <h2>Contact the developer for more information</h2>
  </body>
</html>
