<style>
  .header {
    width: 100%;
    height: 60px;
    background: rgb(36, 33, 33);
    position: fixed;
    top: 0;
    display: flex;
    /* flex-flow: column; */
    justify-content: space-between;
    margin: 0px;
  }
  .header-element {
    float: left;
  }
  .butt {
    max-width: 200px;
    max-height: 40px;
    margin: 10px;
    background: inherit;
    border: 2px solid grey;
    border-radius: 8px;
    color: white;
  }
  .menu-icon {
    border: none;
    margin-right: 20px;
  }
  .dropdown {
    display: flex;
    background: rgb(36, 33, 33);
    /* background: red; */
    text-align: right;
    flex-direction: column;
    margin: 0px;
    height: 125px;
    display: none;
    position: fixed;
    width: 100%;
    top: 60px;
    z-index: 100;
  }
  .dropdown-item {
    /* border-bottom: 2px solid grey; */
    color: white;
  }
  .mousehover:hover {
    cursor: pointer;
  }
</style>
<script>
  const toggleDropdown = () => {
    var x = document.getElementById("dropdown").style;
    if (x.display == "none") x.display = "flex";
    else x.display = "none";
  };
</script>
<div class="header">
  <button class="butt header-element" onclick="location.assign('/')">
    Home
  </button>
  <button class="butt header-element" onclick="location.assign('/add')">
    Add Student
  </button>
  <div class="header-element mousehover">
    <img
      src="../search.png"
      alt=""
      width="40px"
      style="margin-top: 10px"
      onclick="location.assign('/find')"
    />
  </div>
  <img
    src="../menu-icon.png"
    alt=""
    class="menu-icon butt header-element"
    width="40px"
    onclick="toggleDropdown()"
  />
</div>
<div class="dropdown" id="dropdown" style="display: none">
  <a href="/login" class="dropdown-item">Login</a>
  <a href="/profile" class="dropdown-item">My Profile</a>
  <a href="/chat" class="dropdown-item">Chat</a>
  <a href="/about" class="dropdown-item">About</a>
</div>
