<style>
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap");
  * {
    font-family: "Noto Sans Mono", monospace;
  }
  .student {
    /* background: red; */
    border: 5px solid grey;
    border-radius: 8px;
    margin: 10px 0px;
    display: flex;
    flex-flow: column;
    padding: 2px 4px;
  }
  .student:hover {
    border-color: gold;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    color: inherit;
  }
  .tag {
    text-align: left;
    /* margin: 20px 0; */
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
</style>
<div class="student">
  <a href="/student/<%=name%>">
    <div class="tag">
      <div class="left"><%= name %></div>
      <div class="right"><%= company %></div>
    </div>
  </a>
</div>
