<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thanks</title>
    <style>
      body {
        padding: 30px;
        color: white;
        background: black;
        text-align: center;
      }
    </style>
    <script>
      setTimeout(() => {
        location.assign("/");
      }, 2000);
    </script>
  </head>
  <body>
    <h2>Thank you for registering <%= name %></h2>
    <h2>You are a good Aecian ♥</h2>
  </body>
</html>
